$black: #000;
$dark-gary: #363636;
$gray: #ededed;
$white: #fff;
$primary-color: #ec7263;

$background: $gray;
$gray-border-color: $gray;
$text-color: $dark-gary;

$base-font-size: 10px;
$font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

$base-padding: 10px;
$base-margin: 20px;

.image-size {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  left:400px;
  bottom: 80px;
}

hr {
  border: 2px $gray-border-color solid;
}

.expContent {
  padding-bottom: 20px;
}
.expContent > *{
  background-color: $gray;
  padding: $base-padding;
}

.expEng {
  font-weight: bold;
  font-size:20px;
}

.cvRecord {
  height: 60px;
}

.cvYear {
  width: 10%;
  font-weight: bold;
  vertical-align: top;

}

.content > *, .contentArea{
  margin-top: 20px;
}

.headTitle > *{
  text-align: center;
  margin-bottom: 30px;
}

.image {
  height: 90px;
}